 body { 
    background-image: url(background.jpg) 
 } 

.header-title {
    text-align: center;
}
.game-container {
    text-align: center;
    align-content: center;
    margin-top: 100px;
    font-size: 35px;
}

.game-stats {
    margin: 30px;
}